.h1 {
    color: blue;
    font-size: 100px;
    border: 10px solid black;
    background-color: yellow;
}

.h1r {
    color: blue;
    font-size: 100px;
    border: 10px solid black;
    background-color: red;
}

.h1g {
    color: blue;
    font-size: 100px;
    border: 10px solid black;
    background-color: green;
}